.header {
  background-color: $background;
  padding-bottom: 40px;
  #main-desc {
    text-align: center;
    font-size: 2em;
  }
  #map {
    border-radius: 4px;
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    height: 500px;
    -webkit-box-shadow: 0px 0px 12px 2px $dark-grey;
    -moz-box-shadow: 0px 0px 12px 2px $dark-grey;
    box-shadow: 0px 0px 12px 2px $dark-grey;
  }
}
