.main {
  width: 55%;
  margin: 0 auto;
  color: $font;
  position: relative;
  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    cursor: pointer;
    background-color: white;
    opacity: 0.5;
  }
  #stats {
    div.stat {
      float: left;
      border-radius: 2px;
      width: 48%;
      background-color: white;
      padding: 25px;
      margin: 10px 1%;
      -webkit-box-shadow: 0px 0px 12px 2px $dark-grey;
      -moz-box-shadow: 0px 0px 12px 2px $dark-grey;
      box-shadow: 0px 0px 12px 2px $dark-grey;
      div.value {
        float: right;
        font-weight: 700;
        font-size: 3em;
      }
      div.title {
        font-size: 3em;
        font-weight: 700;
      }
      div.desc {
        float: left;
        font-size: 1.4em;
      }
    }
    div.land_cover {
      width: 98%;
    }
  }
}
