* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Bitter', serif;
  color: black;
  background-color: $background;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
}
